.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page {
  width: 100%;
  height: 100vh;
  min-height: 770px;
  position: relative;
  overflow: hidden;

  background: #000 url("../src/img/bers.jpg") center no-repeat;
  background-size: cover;
}

.custom-checkbox .MuiSvgIcon-root {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.custom-checkbox .MuiFormControlLabel-label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: "EB Garamond";
}

body {
  height: 100%;
  font-family: "PT Sans", "Calibri", sans-serif;
  background: linear-gradient(170deg, white, rgb(188, 205, 212)) fixed;
}

.container {
  height: 100%;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
